[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
stem = "*"
urllib3 = {extras = ["socks"], version = "*"}

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.8"
